@model Stajyerler.MVC.Models.StajyerData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="normaltext">
    <div class="hakdiv"
         id="divhak"
         style="display: block; margin: 0 auto; margin-top:15px; margin-bottom: 160px;">

        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Stajyer Bilgisi</h3>
                </div>
                <div style="padding:15px 16px 15px 16px; height:auto; ">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;font-weight:400; color:#5E5E5E; text-align:left;">
                        Aşağıda görüntülemek istemiş olduğunuz Stajyerin genel bilgileri bulunmaktadır. Stajyerin bilgilerini düzenle butonuna basıp düzenleyebilirsiniz.
                    </p> <br />

                    <div style="text-align:left;font-family:'Segoe UI'; font-size:15px;font-weight:400; color:#5E5E5E; ">
                        <dl>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Id)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Id)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Surname)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Surname)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.University)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.University)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Major)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Major)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Department)
                            </dd>
                        </dl>
                    </div>
                    <div style="float:right; padding:10px;">
                        @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" })
                        <a asp-action="Index"><button class="btn btn-dark" type="button" style=" margin-left:10px;">Geri Dön</button></a>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
            <br />
            <br />
        </center>
    </div>
    <br />
    <br />
</div>



