@model IEnumerable<Stajyerler.MVC.Models.StajyerData>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="normaltext">
    <div class="hakdiv"
         id="divhak"
         style="display: block; margin: 0 auto; margin-top:15px; margin-bottom: 160px;">

        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Stajyer islemleri &#10142; Stajyer Ekleme</h3>
                </div>
                <div style="padding:15px 16px 15px 16px; height:auto; ">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;font-weight:400; color:#5E5E5E; text-align:left;">
                        Stajyer ekleme işleminde yapmanız gereken gerekli stajyer bilgilerini hatasız bir şekilde istenen alanlara girmeniz.
                        Eklemiş olduğunuz Stajyeri stajyer listesinde bulabilirsiniz. Ve değişiklik veya silme işlemini de durumuna göre gerçekleştirebilirsiniz.
                    </p> <br />
                    <a asp-action="RegisterIntern"><button type="button" class="btn btn-dark" style="float:right; font-family:'Segoe UI'; padding:4px 14px 4px 14px; font-size:14px; font-weight:500;">Ekle</button></a>

                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px; font-weight:400; color:#5E5E5E; text-align:left;">
                        Ekle butonuna basarak ekleme işleminizi açılacak olan sayfada yapabilirsiniz.
                    </p>
                    <br />
                </div>
            </div>

        </center>
        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Rol islemleri &#10142; Rol Ekleme</h3>
                </div>
                <div style="padding:15px 16px 15px 16px; height:auto; ">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px;font-weight:400; color:#5E5E5E; text-align:left;">
                        Rol ekleme işleminde eklemek istediğiniz rol'ün bilgilerini hatasız bir şekilde istenen alana giriniz.
                        Eklemiş olduğunuz Rol'ü daha sonra değiştiremezsiniz.
                    </p> <br />
                    <a asp-action="CreateRole"><button type="button" class="btn btn-dark" style="float:right; font-family:'Segoe UI'; padding:4px 14px 4px 14px; font-size:14px; font-weight:500;">Ekle</button></a>
                    
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:15px; font-weight:400; color:#5E5E5E; text-align:left;">
                        Alt köşede Ekle butonuna basarak Rol ekleme işleminizi açılacak olan sayfada yapabilirsiniz.
                    </p>
                    <br />
                </div>
            </div>
        </center>

        <center>
            <div class="CardDiv">
                <div class="GreenTitleDiv">
                    <h3 style=" float:left; margin-top: 1px; margin-left: 8px; padding-left: 6px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Stajyer islemleri &#10142; Stajyer Listeleme: Stajyer Silme & Düzenleme</h3>
                </div>

                <div class="row offset-2 custyle" style="padding:5px; margin:10px 10px 10px 0px; ">
                    <table class="table table-striped custab" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; font-weight:400;  ">

                        <thead style="padding-left:90px; padding-right:90px; ">
                            <tr style="padding-left:90px; padding-right:90px; ">
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.University)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Major)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department)
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.University)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Major)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                <td class="text-center" style="float:right;">
                                    @Html.ActionLink("Bilgi", "Details", new { id = item.Id }, new { @class = "btn btn-dark" })
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <br />

            </div>
        </center>

    </div>
    <br />
</div>
